.navbar {
    background-color: rgb(232, 164, 119);
    padding: 8px 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}

.exit {
    margin-right: 1px;
    /* Ajuste conforme necessário */
    margin-left: 75px;
}

.exit img {
    width: 30px;
    /* Ajuste o tamanho da imagem conforme necessário */
}

.navbar ul {
    list-style: none;
    display: flex;

}

.navbar li {
    margin-left: 650px;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;

}

.navbar a:hover {
    color: white;
}

.button {
    margin-top: -33px;
    margin-left: 1560px;
    background-color: transparent;
    padding: 1px;
    flex-direction: column;
    width: 200px;
    position: absolute;
    z-index: 1;
}

.NEXT {
    padding: 60px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    width: 200px;
}

.NEXT:hover {
    color: white;
}

.data p {
    margin: 0;
    font-size: 65px;
    color: rgb(232, 164, 119);

}

.data {
    margin-top: 170px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;

    padding: 20px;
    font-weight: bold;
    /* Adicionado para corrigir o layout */
    position: absolute;
}

.texto-nomennes p {
    margin: 0;
    font-size: 30px;
    color: rgb(255, 255, 255);

}

.texto-nomennes {
    position: absolute;
    margin-top: 250px;
    padding: 20px;
    font-weight: bold;
    /* Adicionado para corrigir o layout */
}

.button1 {
    margin-top: 400px;
    margin-right: 1290px;
    background-color: transparent;
    padding: 1px;
    flex-direction: column;
    width: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    z-index: 1;
    transition: border-color 1s
}

.dicord-button1 {
    height: 386px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: border-color 1s, color 0.3s, background-color 0.3s, transform 0.3s;
    width: 250px;
    background-size: cover;
    background: url('interrogação.mp4');
    background-size: cover;

}

.dicord-button1:hover {
    background-color: rgb(202, 152, 103);
    color: rgb(0, 0, 0);
    transform: translate(10px, -10px);
}

.elemento {
    margin-top: 400px;
    margin-right: 1290px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.elemento.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.elemento2 {
    margin-top: 405px;
    margin-right: 1300px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.elemento2.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.borda {
    margin-top: 405px;
    margin-right: 1300px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    position: absolute;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transition: opacity 1s ease;
}


#buttonVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Para que o vídeo não interfira com os eventos do botão */
}


.button5 {
    margin-top: 400px;
    margin-right: -1290px;
    background-color: transparent;
    padding: 1px;
    flex-direction: column;
    width: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    z-index: 1;
    transition: border-color 1s
}

.dicord-button5 {
    height: 386px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: border-color 1s, color 0.3s, background-color 0.3s, transform 0.3s;
    width: 250px;
    background-size: cover;
    background: url('interrogação.mp4');
    background-size: cover;

}

.dicord-button5:hover {
    background-color: rgb(202, 152, 103);
    color: rgb(0, 0, 0);
    transform: translate(10px, -10px);
}

.element5 {
    margin-top: 400px;
    margin-right: -1290px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.element5.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.elemento52 {
    margin-top: 405px;
    margin-right: -1280px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.elemento52.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.borda5 {
    margin-top: 405px;
    margin-right: -1280px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    position: absolute;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transition: opacity 1s ease;
}


#buttonVideo5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Para que o vídeo não interfira com os eventos do botão */
}

.button3 {
    margin-top: 400px;

    background-color: transparent;
    padding: 1px;
    flex-direction: column;
    width: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    z-index: 1;
    transition: border-color 1s
}

.dicord-button3 {
    height: 386px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: border-color 1s, color 0.3s, background-color 0.3s, transform 0.3s;
    width: 250px;
    background-size: cover;
    background: url('interrogação.mp4');
    background-size: cover;

}

.dicord-button3:hover {
    background-color: rgb(202, 152, 103);
    color: rgb(0, 0, 0);
    transform: translate(10px, -10px);
}

.element3 {
    margin-top: 400px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.element3.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.elemento32 {
    margin-top: 405px;
    margin-right: 10px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.elemento32.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.borda3 {
    margin-top: 405px;
    margin-right: 10px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    position: absolute;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transition: opacity 1s ease;
}


#buttonVideo3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Para que o vídeo não interfira com os eventos do botão */
}

.button2 {
    margin-top: 400px;
    margin-right: 645px;
    background-color: transparent;
    padding: 1px;
    flex-direction: column;
    width: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    z-index: 1;
    transition: border-color 1s
}

.dicord-button2 {
    height: 386px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: border-color 1s, color 0.3s, background-color 0.3s, transform 0.3s;
    width: 250px;
    background-size: cover;
    background: url('interrogação.mp4');
    background-size: cover;

}

.dicord-button2:hover {
    background-color: rgb(202, 152, 103);
    color: rgb(0, 0, 0);
    transform: translate(10px, -10px);
}

.element2 {
    margin-top: 400px;
    margin-right: 645px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.element2.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.elemento22 {
    margin-top: 405px;
    margin-right: 655px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.elemento22.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.borda2 {
    margin-top: 405px;
    margin-right: 655px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    position: absolute;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transition: opacity 1s ease;
}


#buttonVideo2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Para que o vídeo não interfira com os eventos do botão */
}


.button4 {
    margin-top: 400px;
    margin-right: -645px;
    background-color: transparent;
    padding: 1px;
    flex-direction: column;
    width: 250px;
    border: 0px solid #ffffff;
    position: absolute;
    z-index: 1;
    transition: border-color 1s
}

.dicord-button4 {
    height: 386px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: border-color 1s, color 0.3s, background-color 0.3s, transform 0.3s;
    width: 250px;
    background-size: cover;
    background: url('interrogação.mp4');
    background-size: cover;

}

.dicord-button4:hover {
    background-color: rgb(202, 152, 103);
    color: rgb(0, 0, 0);
    transform: translate(10px, -10px);
}

.element4 {
    margin-top: 400px;
    margin-right: -645px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.element4.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.elemento42 {
    margin-top: 405px;
    margin-right: -635px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    transition: box-shadow 0.5s ease;
    position: absolute;
}

.elemento42.hover {
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transform: translate(5px, -5px);
}

.borda4 {
    margin-top: 405px;
    margin-right: -635px;
    width: 250px;
    height: 386px;
    background-color: #ffffff00;
    position: absolute;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    transition: opacity 1s ease;
}


#buttonVideo4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* Para que o vídeo não interfira com os eventos do botão */
}


